html {
  background-color: #c9b5ab;
}

h1 {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
  font-weight: bolder;
}

nav {
  font-family: "PT Serif", serif;
}

a {
  text-decoration: none;
  color: #8f2440;
}

ol {
  list-style-type: none;
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

a:hover {
  color: #3f1622;
}

aside a {
  color: #8f2440;
}

aside a:hover {
  text-decoration: underline;
}

figcaption {
  font-style: italic;
  text-align: center;
  font-size: 1.125rem;
}

img {
  width: 100%;
}

.harvest {
  font-size: 1.5rem;
  font-weight: bold;
  color: #222;
}

.class {
  font-size: 1.125rem;
}
.beet {
  font-weight: bold;
}


.jim {
  text-align: left;
  font-size: 1.125rem;
}
