html {
  background-color: #c9b5ab;
}

h1 {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 19px;
  margin-bottom: -6px;
}

nav {
  font-family: "PT Serif", serif;
  line-height: 1.08;
  font-weight: bolder;
}

a {
  text-decoration: none;
  color: #8f2440;
  font-size: 1.1rem;
  font-weight: bold;
}

ol {
  list-style-type: none;
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

aside a {
  color: #8f2440;
}

aside a:hover {
  text-decoration: underline;
}

figcaption {
  font-style: italic;
  text-align: center;
  font-size: 1.05rem;
  font-weight: normal;
  margin-bottom: 23px;
}

img {
  width: 100%;
  margin-bottom: 5px;
}

.harvest {
  font-size: 1.25rem;
  font-weight: bold;
  color: #222;
}

.class {
  font-size: 1.125rem;
  font-stretch: normal;
}

.beet {
  font-weight: bold;
}

.jim {
  text-align: justify;
  font-size: 1.125rem;
}

.salad {
  font-size: 1.5rem;
  font-style: italic;
}

h2 {
  color: #3f1622;
}

.varieties {
  font-size: 1rem;
  font-weight: normal;
  font-family: serif;
  list-style-type: lower-greek;
  line-height: 1.5;
}

.serving {
  font-style: italic;
  font-size: 1.125rem;
}

dt {
  font-weight: bold;
}

data {
  font-weight: normal;
  display: block;
  margin: 10px;
}
